modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Start Server"
author = 44433543
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run start:dev"

[[workflows.workflow]]
name = "Start Client"
author = 44433543
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 44433543
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run start:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run dev"

[[ports]]
localPort = 8000
externalPort = 80
